<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="icon" type="image/png" href="/public/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/public/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="public/vendor/animate/animate.css">	
	<link rel="stylesheet" type="text/css" href="/public/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/public/vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="/public/vendor/select2/select2.min.css">	
	<link rel="stylesheet" type="text/css" href="/public/vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/util.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css" />
</head>
<body>
        <div class="limiter">
                <div class="container-login100">
                    <div class="wrap-login100">
                        <form action="" method="POST" class="login100-form validate-form">
                            <span class="login100-form-title p-b-26" name="doctype">
                                <%= doctype %>
                            </span>
        
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    
                                </div>
                            </div>
        
                        </form>
                    </div>
                </div>
            </div>
    
</body>
</html>
<script src="/public/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/public/vendor/animsition/js/animsition.min.js"></script>
	<script src="/public/vendor/bootstrap/js/popper.js"></script>
	<script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/public/vendor/select2/select2.min.js"></script>
	<script src="/public/vendor/daterangepicker/moment.min.js"></script>
	<script src="/public/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="/public/vendor/countdowntime/countdowntime.js"></script>
    <script src="/public/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/flash.js"></script>
    <script type="text/javascript" src="/javascripts/uikit.min.js"></script>
    <script type="text/javascript" src="/javascripts/uikit-icons.min.js"></script>